.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}

.formContainer {
    flex: 0 0 100%;
    padding-left: 0;
}

@media (min-width: 768px) {
    .formContainer {
        flex: 0 0 calc(60% - 8px);
        padding-left: 2rem;
    }
}

.input {
    background-color: rgba(219, 166, 25, 1);
    color: black;
    box-shadow: 4px 8px 0px rgba(219, 166, 25, 0.69);
    border: none;
}

.input::placeholder {
    font-weight: 700;
    font-size: clamp(18px, 2.5vw, 32px);
    color: black;
}

.image {
    flex: 0 0 100%;
    width: 100%;
    min-height: 300px;
    object-fit: cover;
    overflow: hidden;
}

@media (min-width: 768px) {
    .image {
        flex: 0 0 calc(40% - 8px);
        min-height: 500px;
    }
}