.gridContainer {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid {
    position: relative;
    margin: 0;
}

.hexagonWrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    transition: z-index 0.2s ease;
}

.hexagonWrapper:hover {
    z-index: 100;
}
