/* Background hexagon grid container - simple image background */
.backgroundContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    pointer-events: none;
    opacity: 0.2;
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
    .backgroundContainer {
        opacity: 0.15;
    }
}

