.backgroundImage {
    width: 100%;
    height: clamp(200px, 40vh, 400px);
    min-height: clamp(200px, 30vw, 300px);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    pointer-events: none;
    opacity: 0.7;
    margin: 0 auto;
}

