/* Advantages Styles */
.scrollbar {
  background-color: transparent;
}

.scrollbar[data-orientation='horizontal'] .thumb {
  background-color: rgba(219, 166, 25, 1); /* customYellow */
}

.scrollbar[data-orientation='horizontal'] .thumb:hover {
  background-color: rgba(247, 187, 26, 1); /* customOrange */
}
