.arrow {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.arrowSvg {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.15));
}

.right-down {
    bottom: 0;
    left: 50%;
    width: clamp(20px, 11vw, 200px);
    height: clamp(30px, 7vw, 150px);
    transform: translate(-10%, 100%);
}

.right-up {
    top: 0;
    left: 50%;
    width: clamp(20px, 9vw, 200px);
    height: clamp(30px, 6vw, 150px);
    transform: translate(5%, -75%);
}

.mobileArrow {
    width: clamp(20px, 7vw, 200px);
    height: clamp(20px, 8vw, 150px);
}

@media (max-width: 768px) {
    .right-down {
        transform: translate(clamp(-50%, 15vw, 300%), clamp(-30%, 3vh, 200%));
        width: clamp(25px, 15vw, 120px);
        height: clamp(20px, 12vh, 500px);
    }

    .right-up {
        transform: translate(
            clamp(-600%, -30vw, -45%),
            clamp(-200%, 10vh, 500%)
        );
        width: clamp(25px, 15vw, 120px);
        height: clamp(20px, 12vh, 500px);
    }
}
