.hexagonWrapper {
    position: relative;
    overflow: visible;
    transition: transform 0.3s ease;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hexagonWrapper:hover {
    z-index: 10;
}

.hexagonWrapper::before {
    content: '';
    position: absolute;
    top: clamp(-4px, -0.4vw, -6px);
    left: clamp(-4px, -0.4vw, -6px);
    right: clamp(-4px, -0.4vw, -6px);
    bottom: clamp(-4px, -0.4vw, -6px);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background: linear-gradient(
        135deg,
        rgba(180, 110, 5, 1),
        rgba(200, 150, 10, 1)
    );
    z-index: 0;
    pointer-events: none;
}

.hexagonWrapper:hover {
    transform: scale(1.05);
    z-index: 10;
}

.hexagonWrapper:hover::before {
    top: clamp(-5px, -0.5vw, -8px);
    left: clamp(-5px, -0.5vw, -8px);
    right: clamp(-5px, -0.5vw, -8px);
    bottom: clamp(-5px, -0.5vw, -8px);
}

.hexagonContainer {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: relative;
    overflow: visible;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hexagonImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

